<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Logistics Company</title>
</head>
<body>
    <div class="footer-section">
        <div class="footer-shade-bg"></div>
        <div class="container w-container">
            <div class="w-layout-grid footer-grid">
                <div class="footer-content-wrap">
                    <a href="/" class="footer-logo-wrap">
                        <img src="../assets/icons/logo.svg" loading="lazy" alt="Logistics Logo">
                    </a>
                    <div class="footer-content-block">
                        <p class="footer-text">To be the industry leader, globally recognized for effective &amp; efficient solutions. To provide innovative solutions delivering quality, excellence and speed.</p>
                        <div class="footer-contact-link-wrap">
                            <div class="header-link-card">
                                <div class="header-icon-wrap">
                                    <img src="../assets/icons/yellow_email_icon.svg" loading="lazy" alt="Mail Icon">
                                </div>
                                <div>
                                    <p class="header-link-text">Email</p>
                                    <a href="mailto:contact@transitflow.com" class="header-link-text hover-yellow">contact@transitflow.com</a>
                                </div>
                            </div>
                            <div class="header-link-card">
                                <div class="header-icon-wrap">
                                    <img src="../assets/icons/yellow_call_icon.svg" loading="lazy" alt="Phone Icon">
                                </div>
                                <div>
                                    <p class="header-link-text">Call Us</p>
                                    <a href="tel:(00)123456789" class="header-link-text hover-yellow">(00) 123 456 789</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-link-wrap">
                    <div class="footer-title-wrap">
                        <h3 class="footer-title">Pages</h3>
                    </div>
                    <div class="footer-link-block">
                        <a href="/about-us" class="footer-link">About Us</a>
                        <a href="/our-team" class="footer-link">Our Team</a>
                        <a href="/our-project" class="footer-link">Our Project</a>
                        <a href="/pricing" class="footer-link">Pricing</a>
                        <a href="/contact-us" class="footer-link">Contact</a>
                    </div>
                </div>
                <div class="footer-link-wrap">
                    <div class="footer-title-wrap">
                        <h3 class="footer-title">Utility</h3>
                    </div>
                    <div class="footer-link-block">
                        <a href="/style-guide" class="footer-link">Style Guide</a>
                        <a href="/changelog" class="footer-link">Changelog</a>
                        <a href="/licenses" class="footer-link">Licenses</a>
                        <a href="/401" class="footer-link">Protected</a>
                        <a href="/404" class="footer-link">Not Found</a>
                    </div>
                </div>
                <div class="footer-form-wrapper">
                    <div class="footer-title-wrap subscribe-title">
                        <h3 class="footer-title">Subscribe</h3>
                    </div>
                    <div class="footer-form-block">
                        <form class="footer-form-wrap">
                            <input class="footer-text-field" maxlength="256" name="Footer-Email" placeholder="Email here*" type="email" id="Footer-Email" required>
                            <div class="footer-social-wrap">
                                <input type="submit" class="primary-button" value="Send Now">
                                <div class="footer-social-media-wrap">
                                    <a href="http://www.linkedin.com" target="_blank" class="social-media-link">
                                        <img src="../assets/icons/white_facebook_icon.svg" loading="lazy" alt="LinkedIn Icon" class="social-icon">
                                    </a>
                                    <a href="http://www.twitter.com" target="_blank" class="social-media-link">
                                        <img src="../assets/icons/white_twitter_icon.svg" loading="lazy" alt="Twitter Icon" class="social-icon">
                                    </a>
                                    <a href="http://www.facebook.com" target="_blank" class="social-media-link">
                                        <img src="../assets/icons/white_linkedin_icon.svg" loading="lazy" alt="Facebook Icon" class="social-icon">
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="success-message">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="error-message">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-block">
            <div class="container w-container">
                <div class="copyright-wrap">
                    <p class="copyright-text">Copyright © TransitFlow | Designed by <a href="https://www.victorflow.com/" target="_blank" class="copyright-link">VictorFlow</a> - Powered by <a href="https://webflow.com/" target="_blank" class="copyright-link">Webflow</a>.</p>
                    <div class="page-link-wrap">
                        <a href="/style-guide" class="page-link">Style Guide</a>
                        <a href="/licenses" class="page-link">Licenses</a>
                        <a href="/changelog" class="page-link">Changelog</a>
                        <a href="/401" class="page-link">Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>