<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <title>Logistics Company</title>
</head>
<body>
    <div class="header-section">
        <div class="header">
            <div class="container w-container">
                <div class="header-link-wrap">
                    <a href="/" class="logo-wrap w-inline-block">
                        <img src="../assets/icons/logo.svg" alt="Logistics Logo">
                    </a>
                    <div class="header-link-block">
                        <div class="header-link-card">
                            <div class="header-icon-wrap">
                                <img src="../assets/icons/yellow_time_icon.svg" alt="Clock Icon">
                            </div>
                            <div>
                                <p class="header-link-text">Mon - Sat 9.00 - 18.00</p>
                                <p class="header-link-text">Sunday Closed</p>
                            </div>
                        </div>
                        <div class="header-link-card">
                            <div class="header-icon-wrap">
                                <img src="../assets/icons/yellow_email_icon.svg" alt="Mail Icon">
                            </div>
                            <div>
                                <p class="header-link-text">Email</p>
                                <a href="mailto:contact@transitflow.com" class="header-link-text hover-yellow">contact@transitflow.com</a>
                            </div>
                        </div>
                        <div class="header-link-card">
                            <div class="header-icon-wrap">
                                <img src="../assets/icons/yellow_call_icon.svg" alt="Phone Icon">
                            </div>  
                            <div>
                                <p class="header-link-text">Call Us</p>
                                <a href="tel:(00)122456789" class="header-link-text hover-yellow">(00) 122 456 789</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="navigation-bar w-nav">
            <div class="nav-bar-container">
                <nav class="navigation-menu w-nav-menu">
                    <a href="/" class="navigation-link w-nav-link">Home</a>
                    <div class="nav-menu-line"></div>
                    <a href="/about-us" class="navigation-link w-nav-link">About</a>
                    <div class="nav-menu-line"></div>
                    <div class="nav-dropdown w-dropdown">
                        <div class="navigation-link dropdown w-dropdown-toggle">
                            <div>Pages</div>
                            <img src="../assets/icons/white_vector.svg" alt="Toggle">
                        </div>
                        <nav class="nav-dropdown-list w-dropdown-list">
                            <a href="/service" class="nav-dropdown-link w-dropdown-link">Services</a>
                            <a href="/service-single" class="nav-dropdown-link w-dropdown-link">Service Single</a>
                            <a href="/our-team" class="nav-dropdown-link w-dropdown-link">Our Team</a>
                            <a href="/pricing" class="nav-dropdown-link w-dropdown-link">Pricing</a>
                            <a href="/blog" class="nav-dropdown-link w-dropdown-link">Blog</a>
                        </nav>
                    </div>
                    <div class="nav-menu-line"></div>
                    <a href="/our-project" class="navigation-link w-nav-link">Project   </a>
                    <div class="nav-menu-line"></div>
                    <a href="/contact-us" class="navigation-link w-nav-link w--current">Contact</a>
                </nav>
                <div class="navigation-button-wrap">
                    <div class="nav-social-media-wrap">
                        <a href="#" class="social-media-link w-inline-block">
                            <img src="../assets/icons/white_instagram_icon.svg" alt="Instagram Icon" class="social-icon">
                        </a>
                        <a href="#" class="social-media-link w-inline-block">
                            <img src="../assets/icons/white_facebook_icon.svg" alt="Facebook Icon" class="social-icon">
                        </a>
                        <a href="#" class="social-media-link w-inline-block">
                            <img src="../assets/icons/white_twitter_icon.svg" alt="Twitter Icon" class="social-icon">
                        </a>
                        <a href="#" class="social-media-link w-inline-block">
                            <img src="../assets/icons/white_linkedin_icon.svg" alt="LinkedIn Icon" class="social-icon">
                        </a>
                    </div>
                    <a href="/contact-us" class="navigation-button w-button">Request Quote</a>
                </div>
                <div class="nav-menu-button w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
