<div id="header-content">
    <div class="header-section">
        <div class="container">
            <div class="header-link-wrap">
                <a class="logo-wrap inline-block current" href="/">
                    <img alt="Logistics Logo" src="../assets/icons/logo.svg"/>
                </a>
                <div class="header-link-block">
                    <div class="header-link-card">
                        <div class="header-icon-wrap">
                            <img alt="Clock Icon" src="../assets/icons/blue_time_icon.svg"/>
                        </div>
                        <div>
                            <p class="header-link-text">
                                Mon - Sat 9.00 - 18.00 Sunday Closed
                            </p>
                        </div>
                    </div>
                    <div class="header-link-card">
                        <div class="header-icon-wrap">
                            <img alt="Mail Icon" src="../assets/icons/blue_email_icon.svg"/>
                        </div>
                        <div>
                            <p class="header-link-text">
                                Email
                            </p>
                            <a class="header-link-text hover-yellow" href="mailto:contact@transitflow.com">
                                contact@transitflow.com
                            </a>
                        </div>
                    </div>
                    <div class="header-link-card">
                        <div class="header-icon-wrap">
                            <img alt="Phone Icon" src="../assets/icons/blue_call_icon.svg"/>
                        </div>
                        <div>
                            <p class="header-link-text">
                                Call Us
                            </p>
                            <a class="header-link-text hover-yellow" href="tel:(00)122456789">
                                (00) 122 456 789
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-bar nav" data-collapse="medium">
        <div class="nav-bar-container">
            <nav class="navigation-menu nav-menu">
                <a class="navigation-link nav-link current" href="../pages/HomePage.html">
                    Home
                </a>
                <div class="nav-menu-line">
                </div>
                <a class="navigation-link nav-link" href="/about-us">
                    About Us
                </a>
                <div class="nav-menu-line">
                </div>
                <div class="nav-dropdown dropdown">
                    <div class="navigation-link dropdown dropdown-toggle" tabindex="0">
                        <div>Pages</div>
                        <div class="navigation-icon icon-dropdown-toggle"></div>
                    </div>
                    <nav class="nav-dropdown-list dropdown-list">
                        <a class="nav-dropdown-link dropdown-link" href="/service" tabindex="0">
                            Services
                        </a>
                        <a class="nav-dropdown-link dropdown-link" href="/service-single" tabindex="0">
                            Service Single
                        </a>
                        <a class="nav-dropdown-link dropdown-link" href="/our-team" tabindex="0">
                            Our Team
                        </a>
                        <a class="nav-dropdown-link dropdown-link" href="/pricing" tabindex="0">
                            Pricing
                        </a>
                        <a class="nav-dropdown-link dropdown-link" href="/blog" tabindex="0">
                            Blog
                        </a>
                    </nav>
                </div>
                <div class="nav-menu-line">
                </div>
                <a class="navigation-link nav-link" href="/contact-us">
                    Contact
                </a>
                <div class="nav-menu-line">
                </div>
                <div class="nav-dropdown dropdown">
                    <div class="navigation-link dropdown dropdown-toggle" tabindex="0">
                        <div>Settings</div>
                        <div class="navigation-icon icon-dropdown-toggle"></div>
                    </div>
                    <nav class="nav-dropdown-list dropdown-list">
                        <div class="settings-option">
                            <img alt="Language Icon" class="settings-icon" src="../assets/icons/language.png" style="filter: invert(100%);"/>
                            <label class="settings-label">
                                Language
                                <div class="language-toggle">
                                    <input type="radio" name="language" id="lang-ru" value="ru" checked>
                                    <label for="lang-ru">RU</label>
                                    <input type="radio" name="language" id="lang-en" value="en">
                                    <label for="lang-en">EN</label>
                                </div>
                            </label>
                        </div>
                        <div class="settings-option">
                            <img alt="Theme Icon" class="settings-icon" src="../assets/icons/theme.png" style="filter: invert(100%);"/>
                            <label class="settings-label">
                                Theme
                                <input type="checkbox" class="toggle-switch" id="theme-mode">
                                <span class="toggle-slider"></span>
                            </label>
                        </div>
                    </nav>
                </div>
                <div class="nav-menu-line">
                </div>
                <div class="accessibility-toggle">
                    <img alt="Accessibility Icon" class="accessibility-icon" src="../assets/icons/eyes.png" style="filter: invert(100%); scale: 1.5;" />
                    <label class="accessibility-label">
                        <input type="checkbox" class="toggle-switch" id="accessibility-mode">
                        <span class="toggle-slider"></span>
                    </label>
                </div>
            </nav>
            <div class="navigation-button-wrap">
                <div class="nav-social-media-wrap">
                    <a class="social-media-link inline-block" href="http://www.instagram.com">
                        <img alt="Instagram Icon" class="social-icon" src="../assets/icons/white_instagram_icon.svg"/>
                    </a>
                    <a class="social-media-link inline-block" href="http://www.facebook.com">
                        <img alt="Facebook Icon" class="social-icon" src="../assets/icons/white_facebook_icon.svg"/>
                    </a>
                    <a class="social-media-link inline-block" href="http://www.twitter.com">
                        <img alt="Twitter Icon" class="social-icon" src="../assets/icons/white_twitter_icon.svg"/>
                    </a>
                    <a class="social-media-link inline-block" href="http://www.linkedin.com">
                        <img alt="LinkedIn Icon" class="social-icon" src="../assets/icons/white_linkedin_icon.svg"/>
                    </a>
                </div>
                <a class="navigation-button button" href="/contact-us">
                    Request Quote
                </a>
            </div>
            <div aria-label="menu" class="nav-menu-button nav-button" tabindex="0">
                <div class="icon-nav-menu">
                </div>
            </div>
        </div>
        <div class="nav-overlay"></div>
    </div>
</div>  

<div id="footer-content">
    <footer class="footer-section">
        <div class="footer-shade-bg">
        </div>
        <div class="container">
            <div class="layout-grid footer-grid">
                <div class="footer-content-wrap">
                    <a class="footer-logo-wrap inline-block current" href="/">
                        <img alt="Logistics Logo" src="../assets/icons/logo.svg"/>
                    </a>
                    <div class="footer-content-block">
                        <p class="footer-text">
                            To be the industry leader, globally recognized for effective & efficient solutions. To provide innovative solutions delivering quality, excellence and speed.
                        </p>
                        <div class="footer-contact-link-wrap">
                            <div class="header-link-card">
                                <div class="header-icon-wrap">
                                    <img alt="Mail Icon" src="../assets/icons/blue_email_icon.svg"/>
                                </div>
                                <div>
                                    <p class="header-link-text">
                                        Email
                                    </p>
                                    <a class="header-link-text hover-yellow" href="mailto:contact@transitflow.com">
                                        contact@transitflow.com
                                    </a>
                                </div>
                            </div>
                            <div class="header-link-card">
                                <div class="header-icon-wrap">
                                    <img alt="Phone Icon" src="../assets/icons/blue_call_icon.svg"/>
                                </div>
                                <div>
                                    <p class="header-link-text">
                                        Call Us
                                    </p>
                                    <a class="header-link-text hover-yellow" href="tel:(00)123456789">
                                        (00) 123 456 789
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-link-wrap">
                    <div class="footer-title-wrap">
                        <h3 class="footer-title">
                            Pages
                        </h3>
                    </div>
                    <div class="footer-link-block">
                        <a class="footer-link" href="/about-us">
                            About Us
                        </a>
                        <a class="footer-link" href="/our-team">
                            Our Team
                        </a>
                        <a class="footer-link" href="/our-project">
                            Our Project
                        </a>
                        <a class="footer-link" href="/pricing">
                            Pricing
                        </a>
                        <a class="footer-link" href="/contact-us">
                            Contact
                        </a>
                    </div>
                </div>
                <div class="footer-link-wrap">
                    <div class="footer-title-wrap">
                        <h3 class="footer-title">
                            Utility
                        </h3>
                    </div>
                    <div class="footer-link-block">
                        <a class="footer-link" href="/style-guide">
                            Style Guide
                        </a>
                        <a class="footer-link" href="/changelog">
                            Changelog
                        </a>
                        <a class="footer-link" href="/licenses">
                            Licenses
                        </a>
                        <a class="footer-link" href="https://transitflow-template.webflow.io/401">
                            Protected
                        </a>
                        <a class="footer-link" href="https://transitflow-template.webflow.io/404">
                            Not Found
                        </a>
                    </div>
                </div>
                <div class="footer-form-wrapper">
                    <div class="footer-title-wrap subscribe-title">
                        <h3 class="footer-title">
                            Subscribe
                        </h3>
                    </div>
                    <div class="footer-form-block form">
                        <form class="footer-form-wrap" method="get">
                            <input class="footer-text-field input" maxlength="256" name="Footer-Email" placeholder="Email here*" required="" type="email"/>
                            <div class="footer-social-wrap">
                                <input class="primary-button button" type="submit" value="Send Now"/>
                                <div class="footer-social-media-wrap">
                                    <a class="social-media-link inline-block" href="http://www.linkedin.com">
                                        <img alt="LinkedIn Icon" class="social-icon" src="../assets/icons/white_linkedin_icon.svg"/>
                                    </a>
                                    <a class="social-media-link inline-block" href="http://www.twitter.com">
                                        <img alt="Twitter Icon" class="social-icon" src="../assets/icons/white_twitter_icon.svg"/>
                                    </a>
                                    <a class="social-media-link inline-block" href="http://www.facebook.com">
                                        <img alt="Facebook Icon" class="social-icon" src="../assets/icons/white_facebook_icon.svg"/>
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="success-message form-done" tabindex="-1">
                            <div>
                                Thank you! Your submission has been received!
                            </div>
                        </div>
                        <div class="error-message form-fail" tabindex="-1">
                            <div>
                                Oops! Something went wrong while submitting the form.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-block">
            <div class="container">
                <div class="copyright-wrap">
                    <p class="copyright-text">
                        Copyright © TransitFlow | Designed by
                        <a class="copyright-link" href="https://www.victorflow.com/">
                            VictorFlow
                        </a>
                        - Powered by
                        <a class="copyright-link" href="https://webflow.com/">
                            Webflow
                        </a>
                        .
                    </p>
                    <div class="page-link-wrap">
                        <a class="page-link" href="/style-guide">
                            Style Guide
                        </a>
                        <a class="page-link" href="/licenses">
                            Licenses
                        </a>
                        <a class="page-link" href="/changelog">
                            Changelog
                        </a>
                        <a class="page-link" href="https://transitflow-template.webflow.io/401">
                            Password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
